## https://colab.research.google.com/drive/1nqwP9p8zJ07Amgughko4Y4lYsokCXORE?usp=sharing

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [11]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [12]:
s = "Hi there Sam".split()

In [13]:
print(s)

['Hi', 'there', 'Sam']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [14]:
s = "The diameter of {0} is {1} kilometers"

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [15]:
print(s.format("Earth", 12742))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [16]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [17]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [18]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [19]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [20]:
print("tuples is mutable while lists are not")

tuples is mutable while lists are not

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [21]:
def getDomain(emailid):
  return emailid.split('@')[-1]

In [22]:
print(getDomain("user@domain.com"))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [23]:
def getDog(dog):
  if dog.lower() == "dog":
    return True
  return False

In [24]:
print(getDog("DOG"))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [25]:
def getDog(dogs):
  count = 0
  for dog in dogs.split():
    if dog.lower() == "dog":
      count+=1
  return count

In [26]:
print(getDog("dog dOG doo"))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [27]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [28]:
print(caught_speeding(80,False))

Small Ticket

In [29]:
print(caught_speeding(80,True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [30]:
from prompt_toolkit.styles.style_transformation import to_str
lsts = [['King',500],['Kong',1000],['Loki',2000],['Thor',3000],['Ironman',5000]]
tot = 0
for lst in lsts:
  print(lst[1])
  tot+=lst[1]
print("total: " + str(tot))

500
1000
2000
3000
5000
total: 11500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [31]:
dic1 = {'Empid': 15, 'Empname': 'Logesh', 'Basicpay': 20000}
dic2 = {'DeptName': 'CSE', 'DeptId': 45}
dic1.update(dic2)
print(dic1)

{'Empid': 15, 'Empname': 'Logesh', 'Basicpay': 20000, 'DeptName': 'CSE', 'DeptId': 45}